@import url(style.css);

 .containera{
  max-width: 450px;
}
.inner-containera{
  width: 100%;
} 


div.bottom {
  align-items: center;
  justify-content: center;
  div.next-cta {
    background-color: var(--primary-color);
    color: white;
    font-size: 1.2rem;
    font-family: "montserrat";
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    width: 80%;
    text-align: center;
    text-transform: capitalize;
  }
}
/* mobile naviation */

.mobile-nav {
  div.box {
    max-width: 470px;
    align-self: center;
    .icon-tray {
      padding: 20px;
      border-top: 1px solid grey;
      margin: 10px;
      display: flex;
      gap: 90px;
      align-items: center;
      a {
        img {
          transform: scale(0.7);
        }
      }
    }
  }
}
/* mobile naviation */


/* login */

section.login {
    min-height: 100vh;
    width: 100%;
    div.container {
        max-width: 450px;
      div.backarrow {
        float: left;
        align-self: start;
      }
  
      div.inner-container {
        padding: 20px;
        width: 100%;
        div.up {
          div.logo {
            padding: 30px;
          }
  
          h2 {
            font-size: 20px;
            font-weight: bold;
            font-family: "montserrat";
          }
  
          h2.sub-text {
            color: grey;
            font-size: 15px;
            font-weight: bold;
          }
  
          form {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 30px 0px;
            label.sub-text {
                color: grey;
                font-size: 15px;
                font-weight: bold;
                font-family: "montserrat";
                margin: 10px 0px;
            }
            div{
                padding: 20px;
            }
            input {
                outline: none;
                border-bottom: 1px solid grey;
            }
  
            h3 {
                text-align: right;
                color: var(--primary-color);
                font-weight: bold;
                font-family: "montserrat";
            }
          }
        }
  
        div.down {
            margin-top: 50px;
          p {
            font-family: "montserrat";
            a {
                font-weight: bold;
                text-decoration: underline;
                color: var(--primary-color);

            }
          }
  
          login.cta {
            background-color: var(--primary-color);
            width: 100%;
            margin: 10px;
            padding: 8px 12px;
            text-align: center;
            color: white;
            font-size: 20px;
            font-family: "montserrat";
            border-radius: 15px;
            a {
  
            }
          }
        }
      }
    }
  }

/* login */


/* dashboard */



.dashboard {
  .container {
    max-width: 480px;

    .inner-container{
      gap: 15px;
      width: 460px;
      div.img {
        img {

        }
      }

      hr {
        width: 100%;
      }

      div.user {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        div.top {
          width: 100%;
          align-items: center;
          justify-content: space-evenly;
          gap: 150px;
          div.left {
            color: grey;
            text-transform: capitalize;
            gap: 15px;
            font-weight: bold;
            font-family: "poppins";
            h3 {
            }

            h1 {
              font-size: 1.5rem;
            }
          }

          div.right {
            div.qr {
              color: grey;
              border: 1px solid grey;
              padding: 8px;
              border-radius: 100%;
            }
          }
        }

        div.bottom {
          div.transact {
            gap: 50px;
            a {
              i{
                color: grey;
                border: 1px solid var(--primary-color);
                border-radius: 100%;
                padding: 10px;

              }
            }
            
            
          }
        }
      }

      div.assets {
        width: 90%;
        gap: 20px;
        h2 {
          font-weight: bold;
          font-family: "poppins";
        }

      }
    }
  }
}



/* dashboard */
  .assets-list {
    width: 100%;
    font-family: "poppins";
    gap: 30px;
    padding: 10px;
    div.item {
      width:100%;
      justify-content: space-between;
      box-shadow: 2px 2px 4px 2px #dfebed;
      padding: 7px 7px;
      border-radius: 8px;
      div.name {
        div {
          img{

          }
          h6 {
            font-weight: 600;
          }
        }
        p{
          color: lightgreen;
        }
      }

      div.value {
        h5 {
          font-size: 1.05rem;
          font-weight: 600;
        }

        p {

        }
      }
    }
  }



  /* send */

  section.send {
    min-height: 90vh;
    div.container {
      max-width: 500px;
      padding: 20px;
      .inner-container {
        width: 450px;
        gap: 13px;
        h2 {
          text-align: center;
          font-family: "montserrat";
          font-size: 1.7rem;
          text-transform: capitalize;
        }
  
        hr {
  
        }
  
      }
    }
  }
  
  /* send */


  /* second crypto */

  section.sendcrypto.flex.flex-col.justify-center.w-100.items-center {
    div.container {
      min-height: 100vh;
      div.inner-container {
        justify-content: space-between;
        min-height: 100vh;
        padding: 30px;
        div.top {
          div {
            div {
              display: flex;
              gap: 30%;
              i.fa.fa-arrow-left.fa-2x {
              }
  
              h2 {
                font-size: 1.7rem;
                font-family: "montserrat";
                font-weight: 600;
              }
            }
  
            hr {
  
            }
            desc{
              margin: 30px 20px;
              gap: 20px;
            }
  
            form {
              padding: 10px;
              gap: 15px;
              margin: 30px 0px;
              font-family: "montserrat";
              label {
                color: grey;
                font-size: 1.05rem;
                text-transform: capitalize;
              }
  
              input {
                outline: none;
                border: 2px solid grey;
                padding: 10px;
                border-radius: 15px;
              }
              p{
                color: grey;
                text-align: right;
                font-size: 0.8rem;
              }
            }
          }
        }
  
        div.bottom {
          align-items: center;
          justify-content: center;
          div.next-cta {
            background-color: var(--primary-color);
            color: white;
            font-size: 1.2rem;
            font-family: "montserrat";
            border-radius: 15px;
            padding: 10px 20px;
            cursor: pointer;
            width: 80%;
            text-align: center;
            text-transform: capitalize;
          }
        }
      }
    }
  }

  /* second crypto */


  /* invest */


  .maininvest {
    .container {
      .inner-container {
        div.img {
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 180px;
          }
        }
  
        hr.w-100 {
  
        }
  
        div.bottom {
          h2 {
            font-size: 1.2rem;
            font-weight: 600;
            font-family: "montserrat";
            padding: 10px;
          }
  
          div.investment-list {
            display: flex;
            padding: 15px;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 20px;
            div.investment-item {
              display: flex;
              flex-direction: column;
              padding: 10px 20px;
              background-color: white;
              border: 1px solid grey;
              border-radius: 7px;
              gap: 5px;
              h3 {
                font-size: 1.05rem;
                font-weight: 500;
              }
      
              h2 {
                span {
                  font-size: 1.7rem;
                  font-weight: 700;
                }
      
              }
      
              ul {
                list-style-type: disc;
                padding-left: 20px;
                color: var(--secondary-color);
                gap: 10px;
                display: flex;
                flex-direction: column;
                li {
                  text-transform: capitalize;
                  font-size: 0.7rem;
                  span {
                    color: grey;
                  }
                }
              }
      
              div.invest-cta {
                align-self: center;
                margin: 10px;
                width: 75%;
                text-align: center;
                background-color: var(--secondary-color);
                color: white;
                padding: 6px 14px;
                border-radius: 7px;
              }
            }
          }
        }
      }
    }
  }
  

  /* invest */

  section.send {
    div.container {
      div.inner-container {
        h2 {
  
        }
  
        hr {
  
        }
  
        div.content {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin: 20px;
          h2{
            font-size: 1.1rem;
            text-align: left;
            font-weight: 600;
          }
          p {
            color: grey;
          }
        }
  
        div.bottom.flex.w-100 {
          div.next-cta {
  
          }
        }
      }
    }
  }