:root{
  --primary-color: #10375C;
  --secondary-color: #185287 ;
  --accent-color: ;
  --white: #fff;
  --accent-grey: #E3E3E3;
}
*{
  padding: 0px;
  margin:0px;
  box-sizing: border-box;
}
.capitalize{
  text-transform: capitalize;
}

/*header section*/

.logo a img{
  transform: scale(0.8);
}
.nav-links a{
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  text-transform: capitalize;
}



/*investment section*/

.investment-section h1{
  font-family: monospace;
}
.investment-section .dash{
  letter-spacing: -0.8rem;
  font-weight: 900;
}
.investment-section p{
  font-family: monospace;
  font-weight: lighter;
}


.register {
  background-color: #185287;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.375rem;
}

.investment-section-button {
  background-color: #185287;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: white;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.investment-section-section:hover {
  background-color: #133c69;
}
.investment-section {
  height: 558px;
}


.assurance-section{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.assurance-content-container{
  background-color: #F6FAFB;
  padding: 10px;

}
.assurance-title{
  color: var(--primary-color);
  font-weight: 700;
  font-size: 2rem;
}
.assurance-text{
  color: gray;
  font-size: 18px;
  font-weight: 700;
}


section.features {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0px;
  flex-direction: column;
  margin: 20px;
  gap: 20px;

  div.features-heading {
    h1 {
      font-size: 2.5rem;
      font-family: Arial, Helvetica, sans-serif;
      
    }
  }

  div.features-list {
    gap: 20px;
    justify-content: space-evenly;
    width: 100%;
    justify-content: center;
    align-items: center;

    .feature-item {
      justify-content: center;
      gap: 10px;
      width: 33.3%;
  
      .feature-text {
        h2 {
          font-size: 1.5rem;
          color: #133c69;
          font-family: "poppins";
          font-weight: 500;
        }

        p {
          font-size: 0.9rem;
          letter-spacing: .0.6rem;
          font-weight: 500;
          
        }
      }
    }
  }

  .feature-btn div {
    border: 1px solid var(--primary-color);
    padding: 8px 19px;
    color: var(--primary-color);
    border-radius: 20px;
    font-weight: 500;
    margin: 10px;

  }
}


section.works {
  background-color: #F6FAFB;
  div.container {
    padding: 20px;
    div.work-heading {
      h1 {
        color: black;
        font-size: 2.5rem;
        font-weight: 600;
        letter-spacing: .2rem;
        span {
        color: var(--primary-color);
        }
      }

      h2 {
          text-align: center;
          font-family: monospace;
          color: grey;
          font-size: 1.03rem;
          font-weight: 300;
      }
    }

    div.works-list {
      margin: 10px;
      padding: 10px;
      width: 80%;
      display: flex;
      flex-direction: row;


      div.work-item {
        text-align: center;
        div.work-icon {
          img{
            width: 100px;
            transform: scale(0.8);
          }
        }

        div.work-desc {
          h2 {
            font-size: 1.4rem;
            font-weight: 300;
            font-family: monospace;
            text-transform: capitalize;
          }

          p {
            font-size: 1.05rem;
          }
        }
      }

      div.arrow {
        
        img {
        }
      }
    }
  }
}





section.reasons {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--white);
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    justify-content: center;
    padding-bottom: 100px;

    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%; 
      padding-top: 70px;
      h1 {
        text-align: left;
        font-size: 2.5rem;
        text-transform: capitalize;
        font-family: "poppins";
        font-weight: 300;
        word-spacing: .2rem;

      }

      div.reasons-list {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        column-gap: 150px;
        row-gap: 30px;
        div.item {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;

          .icon {
            img{
              transform: scale(0.5);
            }
          }

          div.text {
            font-weight: 400;
            font-size: 0.8rem;

            span {
              font-size: 1.5rem !important;
              font-weight: 100;
            }
            br {

            }
          }
        }
      }
    }

    div.left {
      display: flex;
      width: 100%;
      flex-direction: column;

      .image-box {
        display: flex;
        flex-direction: column;
        width: 65%;
        background-color: white;
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 130px;
        align-items: center;
        
        div.profile-pic {
          img{ 
            width: 150px;
          }
        }

        h3 {
          color: rgb(150, 186, 198);
        }

        h2 {
          color: black;
          font-size: 2.2rem;
          font-weight: 600;
          text-align: center;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          padding: 10px 0px;
        }

        p {
          color: black;
          text-align: center;
          padding: 0px 30px;
        }
      }
    }
  }
}

 /* feed section*/

 .feed{
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
 }
 .feed .container{
  width: 75%;
  
 }
 .crypto-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
 }
 .crypto-icons img{
  width: 150px;
 }
 .crypto-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.crypto-table th, .crypto-table td {
  padding: 12px 15px;
  text-align: left;
}

.crypto-table th {
  background-color: #f4f4f4;
  color: #555;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}

.crypto-table td {
  border-bottom: 1px solid #ddd;
}

.crypto-table tbody tr:hover {
  background-color: #f1f1f1;
}

.chart-img {
  height: 24px;
  vertical-align: middle;
}

.positive-change {
  color: green;
}

.negative-change {
  color: red;
}

.trade-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: default;
  font-weight: bold;
  opacity: 0.6;
  pointer-events: none; /* Make the button non-functional */
}

.trade-button:hover {
  background-color: #007bff; /* No hover effect since it's dormant */
}



section.investment-plans {
  width: 100%;
  padding: 10px;
  background-color: #F6FAFB;
  div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 20px;
    h1 {
      font-size: 2.5rem;
      padding: 10px;
      font-weight: 600;
      font-family: "montserrat";
      text-transform: capitalize;
      span {
        color: var(--primary-color);
      }
    }

    p {
      font-family: "montserrat";
      font-weight: 200;
      text-align: center;
      font-size: 1.1rem;
      color: grey;
      width: 75%;
      padding: 10px;
    }

    div.investment-list {
      display: flex;
      padding: 30px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 40px;
      div.investment-item {
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: white;
        border: 1px solid grey;
        border-radius: 7px;
        gap: 10px;
        h3 {
          font-size: 1.6rem;
          font-weight: 500;
        }

        h2 {
          span {
            font-size: 2.3rem;
            font-weight: 700;
          }

          sub {

          }
        }

        ul {
          list-style-type: disc;
          padding-left: 20px;
          color: var(--secondary-color);
          gap: 10px;
          display: flex;
          flex-direction: column;
          li {
            text-transform: capitalize;
            span {
              color: grey;
            }
          }
        }

        div.invest-cta {
          align-self: center;
          margin: 20px;
          width: 75%;
          text-align: center;
          background-color: var(--secondary-color);
          color: white;
          padding: 6px 14px;
          border-radius: 7px;
        }
      }
    }
  }
}



section.join {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  div.container {
    background-color: #2E80CE;
    margin: 40px;
    width: 70%;
    height: 50vh;
    
    div{
      width: 100%;
      height: 100%;
      background-image: url("../assets/images/abstract.png");
      background-repeat: 2;
      background-position: left;
      background-size: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        font-size: 2.5rem;
        font-family: "montserrat";
        color: white;
        text-transform: capitalize;
        text-align: center;
        br {
  
        }
      }
  
      join.cta {
        margin: 3px;
        width: 200px;
        text-align: center;
        color: var(--primary-color);
        background-color: white;
        font-family: "montserrat";
        font-weight: 600;
        padding: 10px 20px;
        text-transform: capitalize;
      }
    }
  }
}


footer {
  background-color: var(--primary-color);
  div.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    width: 100%;
    .top {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      width: 100%;
      padding: 60px;

      

      .col {
        align-items: center;
        display: flex;
        flex-direction: column;
        img {

        }

        div.icons {
          align-items: center;
        }
      }
      ul{
        color: white;
        text-transform: capitalize;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }

    div.bottom {
      width: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      hr {
        width: 80%;
      }

      p {
        text-transform: capitalize;
        color: white;
        padding: 7px;
      }
    }
  }
}
