.register {
  background-color: #185287;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.375rem;
}

.investment-section-button {
  background-color: #185287;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: white;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.investment-section-section:hover {
  background-color: #133c69;
}
.investment-section {
  height: 558px;
}

.assurance-section {
  height: 578px; /* Ensure the section has the desired height */
  /* Remove any default padding from the section */
  margin-top: 0; /* Remove any default margin from the section */
}

.bg-customBlue {
  background-color: #f6fafb; /* Background color for the assurance content */
}

.assurance-title {
  color: #185287; /* Color for the h1 elements */
  font-size: 48px; /* Font size for the h1 elements */
}

.assurance-text {
  color: #a3a3a3; /* Color for the p elements */
  font-size: 20px; /* Font size for the p elements */
}
.assurance-content-container {
  height: 112px;
  border-radius: 10px;
  margin-left: 15em;
}
.assurance-text-large {
  font-size: 40px;
}
